<?xml version="1.0" encoding="utf-8" ?>
<!-- autoReload 修改后自动加载-->
<!-- throwExceptions="true" NLog日志系统抛出异常 属性为“true”可以让NLog不再阻挡这类异常，而是把它们抛给调用者。在部署时这样做可以帮我们快速定位问题。一旦应用程序已经正确配置了，我们建议把throwExceptions的值设为“false”，这样由于日志引发的问题不至于导致应用程序的崩溃。-->
<!-- internalLogLevel NLog内部日志级别 -->
<!-- internalLogFile NLog内部日志文件位置 -->
<!-- internalLogToConsole="true" NLog是否把内部日志输出到标准控制台 -->
<!-- internalLogToConsoleError="true" NLog是否把内部日志输出到标准错误控制台 -->
<!-- <nlog internalLogLevel="Info" /> 内部日志的级别，级别越高，输出的日志信息越简洁。internalLogLevel="Off" 关闭-->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="D:\logs\nlog-internal.txt"
      internalLogLevel="Warn"
      >
  <!-- 日志级别 Trace|Debug|Info|Warn|Error|Fatal-->
  <!-- 启用ASP.NET核心布局呈现器 -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <variable name="logFile" value="D:\logs\${filesystem-normalize:fSNormalize=true:inner=${basedir}}\${date:format=yyyy-MM}\nlog-${date:format=MM-dd}-${level}.log"/>
  <!-- 要写入的目标 -->
  <targets>
    <!-- 写入日志到文件  -->
    <!-- xsi:type ["File", "Database", "Mail"] -->

    <target xsi:type="File" name="nlog-Trace" fileName="${logFile}"
            layout="${longdate}|${uppercase:${level}}|${callsite}[${callsite-linenumber}]|${message} ${exception:format=tostring}" />
    <target xsi:type="File" name="nlog-Warn" fileName="${logFile}"
            layout="${longdate}|${uppercase:${level}}|${callsite}[${callsite-linenumber}]|${message} ${exception:format=tostring}" />
  </targets>

  <!-- 要从记录器名称映射到目标的规则 -->
  <rules>
    <!--所有日志，包括来自Microsoft的日志-->
    <logger name="*" level="Trace" writeTo="nlog-Trace" />
    <logger name="*" level="Debug" writeTo="nlog-Trace" />
    <!--微软相关日志不存储-->
    <logger name="Microsoft.*" level="Info" final="true" />
    <logger name="*" level="Info" writeTo="nlog-Trace" />
    <logger name="*" level="Warn" writeTo="nlog-Warn" />
    <logger name="*" level="Error" writeTo="nlog-Warn" />
    <logger name="*" level="Fatal" writeTo="nlog-Warn" />
  </rules>
</nlog>